body {
	font: 120%/1.8 Georgia, serif; 
	padding: 2em; /** +-1 */
	width: 45em;
	opacity: 0.7; /** -0.2 */
}

h1 { font-size: 145%; }

h2 { font-size: 125%; }

div#priklad {
	border-width: 5px; /** +-3 */
	border-color: black;
	border-style: solid;
	margin: 5px; /** +5 */
	width: 300px; /** +-200; 20 */
	opacity: 0.8; /** */
}
